<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{doc.title}}</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="manifest" href="manifest.json" crossorigin="use-credentials">
    <link rel="stylesheet" href="assets/css/accordion-faq-list.css">
    <link rel="stylesheet" href="assets/css/BS5-Jumbotron-with-background-Image.css">
    <link rel="stylesheet" href="assets/css/FAQ-Frequentlly-Asked-Questions-faq.css">
    <link rel="stylesheet" href="assets/css/FAQ-Frequentlly-Asked-Questions.css">
    <link rel="stylesheet" href="assets/css/Navbar-Right-Links-icons.css">
    <link rel="stylesheet" href="assets/css/Projects-Grid-images.css">
    <link rel="stylesheet" href="assets/css/prism.css">    
    <link rel="stylesheet" href="assets/css/styles.css">
</head>



<body class="b_{{template}} ">
    <nav class="navbar navbar-expand-md bg-body py-3">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><img src="assets/img/logo.svg" width="66" height="66" alt="logo"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-2"><a class="company" href="{{page.home_url}}">{{page.logo_name}}</a>
              <ul class="navbar-nav ms-auto">
		{% for m in page.menu %}
                <li class="nav-item">
		  <a class="nav-link a_{{m.id}}" href="{{m.href}}">{{m.name}}</a>
		</li>		
		{% endfor %}
                </ul>
            </div>
        </div>
    </nav>

    
