{% include "_header.html" %}
    <div id="Content">
        <section class="py-5" style="margin-top: 0px;">
            <h1 class="text-center text-success" style="padding-top: 15px;padding-bottom: 15px;color: #1b6ce5!important;font-size: 32px;"><span style="color: rgb(33, 37, 41);">{{doc.title}}</span></h1>
            <div class="container">
                <div class="row" style="margin-bottom: 48px;">
                    <div class="col-md-6 offset-md-3">
                        <div id="faqlist" class="accordion accordion-flush">

		            {% for i in doc.content %}
                          <div class="accordion-item">			    
                                <h2 class="accordion-header"><button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-{{ loop.index }}">{{i[0]}}</button></h2>
                                <div id="content-accordion-{{ loop.index }}" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <p class="accordion-body">{{i[1]|safe}}</p>
                                </div>
                            </div>			    

   		           {% endfor %}		      

                    </div>
                </div>
            </div>
        </section>
    </div>
    {% include "_footer.html" %}
