{% include "_header.html" %}
    <div id="Header">
        <div class="container py-4 py-xl-5">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                  <h2>{{doc.header}}</h2>
                    <p class="w-lg-50" style="text-align: justify;"><strong>{{doc.company}}</strong> {{doc.description}}</p>
                </div>
            </div>
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3" id="row-card">
		{% for i in doc.cards %}
	      
                <div class="col">
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center d-inline-block mb-3 bs-icon"><a href="{{i.href}}" ><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-download">
                                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"></path>
                                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"></path>
                                </svg></A></div>
                            <h4 class="card-title">{{i.h4}}</h4>
                            <p class="card-text">{{i.text}}</p>
                        </div>
                    </div>
                </div>
		{% endfor %}
            </div>
        </div>
    </div>
    <div id="Content">
        <div class="container py-4 py-xl-5">
          <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
		{% for i in doc.columns %}	    
                <div class="col">
                    <div><a href="{{i.href}}">  <img class="rounded img-fluid d-block w-100 fit-cover" style="height: 200px;" src="{{i.src}}" alt="HTML and CSS"></a>
                        <div class="py-4">
                            <h4>{{i.h4}}</h4>
                            <p>{{i.p}}</p>
                        </div>
                    </div>
                </div>
		{% endfor %}		

            </div>
        </div>
    </div>
    {% include "_footer.html" %}
