{% include "_header.html" %}

    <div id="content">
        <div class="container py-4 py-xl-5">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 style="font-size: 32px;">{{doc.title}}</h2>
                    <p class="w-lg-50" style="text-align: justify;">{{doc.title_desc}}</p>
                </div>
            </div>
            <div class="row gy-4 row-cols-1 row-cols-md-2" style="margin-bottom: -42px;">
                <div class="col">
                    <div class="d-flex flex-column flex-lg-row">
                        <div class="py-4 py-lg-0 px-lg-4">
                            <h4>{{doc.privacy_policy}}</h4>
                            <p style="text-align: justify;">{{doc.privacy_policy_content}}</p>
                        </div>
                    </div>
                    <div class="py-4 py-lg-0 px-lg-4">
                        <h4>{{doc.developer_information}}</h4>
                        <p style="text-align: justify;">
			  <dstrong>{{page.developer}}:&nbsp;</strong>{{page.developer_}}<br>
			  {{page.company}}: {{page.company_}}<br>
			  {{page.address}}: {{page.address_}}<br>
			  {{page.contact}}: {{page.contact_}}<br>
			  {{page.email}}: {{page.email_}}</p>
                    </div>
               </div>

                <div class="col">
                    <div class="py-4 py-lg-0 px-lg-4">
                        <h4>{{doc.terms_of_service}}</h4>
                        <p style="text-align: justify;">{{doc.terms_of_service_content}}</p>
                    </div>
                    <div class="d-flex flex-column flex-lg-row"></div>
                </div>
                <div class="col">
                    <div class="d-flex flex-column flex-lg-row"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="content_2">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="margin-top: 35px;">
                    <h1 style="padding-left: 20px;font-size: 23px;">{{doc.legal_disclaimer}}</h1>
                    <p style="padding-left: 21px;text-align: justify;">{{doc.legal_disclaimer_content}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 style="padding-left: 21px;font-size: 23px;">{{doc.copyright_information}}</h1>
                    <p style="padding-left: 19px;text-align: justify;">{{doc.copyright_information_content}}</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    
    {% include "_footer.html" %}
