name: Deploy static content to Pages
on:
  push:
    branches:
     - "*"
    #tags:
    #  - "*"
  workflow_dispatch:
permissions:
  contents: read
  pages: write
  id-token: write
concurrency:
  group: "pages"
  cancel-in-progress: false
jobs:
  deploy:
    if: github.repository_owner == 'myridia'
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2        
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # Upload the template generated files
          path: './pages/public'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4


      
